name: maven run build and test
run-name: mvn:build:test

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  maven-run-build:
    runs-on: ubuntu-latest
    steps:

      - name: checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'zulu'

      - name: mvn build without Tests
        run:
          mvn package -B -DskipTests

      - name: mvn build with Tests
        run:
          mvn package -B